{% extends 'base.html.twig' %}

{% block title %}Ah! D & Dédé
{% endblock %}

{% block edit %}{% endblock %}

{% block body %}
    <h1>Vos informations</h1>
<div class="app-form-account">
    {{ form(form) }}
</div>
{% endblock %}
