$colorbg: #ffeaae; // couleur de fond de page
$colorultralight: #fffaeb; // couleur textes clairs, couleur de fond du menu
$colorintense: #d4560c; // couleur des zones vives
$colorcta: #ed771d; // couleur des boutons
$colormain: #6b2b06; // couleur des bannières et de certaines bordures
$colorsecondary: #873608; // couleur secondaire des zones de contenu
$colorultradark: #271002; // couleur textes sombres, couleur du pied de page
$coloraccent: #155166; // couleur des hover et des éléments qui doivent ressortir
