<div class="sheet-slide sheet-slide-grid-wrapper">

	<div class="sheet-slide-title">
		<h1>Armures</h1>
	</div>

	<div class="sheet-slide-section bevel">

		<div class="sheet-slide-section-bloc">

			<div class="sheet-slide-section-bloc-name">
				<h2>Armure, Bouclier</h2>
			</div>

			<table id="armors" class="bloc-content">
				<tr>
					<td>Armure</td>
					<td>Heaume (Absorp. / % Affect)</td>
					<td>Sans Heaume (Absorp / % Affect)</td>
					<td>Charge</td>
					<td>Rounds pour Revêtir</td>
				</tr>
				<tr>
					<td>_____</td>
					<td>_____</td>
					<td>_____</td>
					<td>_____</td>
					<td>_____</td>
				</tr>
				<tr>
				<tr>
					<td>Bouclier</td>
					<td>Dégâts</td>
					<td>Pourcentage Initial</td>
					<td>PDS</td>
					<td>D P E G</td>
				</tr>
				<tr>
					<td>_____</td>
					<td>_____</td>
					<td>_____</td>
					<td>_____</td>
					<td>_____</td>
				</tr>
			</table>
		</div>

	</div>

</div>
