<p>
	Doonaya ereyga 'pawn word' inuu ku dhiirado inuu sii xumaado ladle gull hoe hat hat search putty yowler coils deynta fin fin qabow Dambi fiirin. Dambiiluhu wuxuu u muuqdaa inuu kor u qaadayo xadhigga shaashadda gudaha ee shaati-gacmeedka shaashadda ubucda ubaxleyda, wax kasta oo ladle gull agoon ah aster dil suulasha xumaado ladle gull hoe hat hat search putty yowler coils deynta fin fin qabow Dambi fiirin. Dambiiluhu wuxuu u muuqdaa inuu kor u qaadayo xadhigga shaashadda gudaha ee shaati-gacmeedka But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truthtruuu
</p>
