<div class="sheet-slide sheet-slide-grid-wrapper">

	<div class="sheet-slide-title">
		<h1>histoire</h1>
	</div>

	<div id="background-story" class="sheet-slide-section bevel">

		<div class="sheet-slide-section-bloc">

			<div class="sheet-slide-section-bloc-name">
				<h2>Histoire Personnelle</h2>
			</div>

			<ul class="bloc-content">
				<li>
					Nom, Titres, Surnom ________
				</li>
				<li>
					Lieu de Résidence ________
				</li>
				<li>
					Famille et Amis _______________________________________________________________________________
				</li>
				<li>
					Ennemis __________________________________________________________________________________
				</li>
			</ul>

		</div>

	</div>

	<div id="background-tripstuff" class="sheet-slide-section sheet-section-grid-background bevel">

		<div class="sheet-slide-section-bloc background-2-item1">

			<div class="sheet-slide-section-bloc-name">
				<h2>Matériel de Voyage</h2>
			</div>

			<ul class="bloc-content">
				<li>
					Équipement ______________________________________________________________________________________________
				</li>
				<li>
					Cheval de Selle _____________
				</li>
				<li>
					Espèce / Type ______________________________________________
				</li>
			</ul>

		</div>

		<div class="sheet-slide-section-bloc background-2-item2">

			<div class="sheet-slide-section-bloc-name">
				<h2>Statistiques</h2>
			</div>

			<table class="bloc-content">
				<tr>
					<td>CON</td>
					<td>___</td>
				</tr>
				<tr>
					<td>FOR</td>
					<td>___</td>
				</tr>
				<tr>
					<td>TAI</td>
					<td>___</td>
				</tr>
				<tr>
					<td>INT</td>
					<td>___</td>
				</tr>
				<tr>
					<td>POU</td>
					<td>___</td>
				</tr>
				<tr>
					<td>DEX</td>
					<td>___</td>
				</tr>
				<tr>
					<td>DEP</td>
					<td>___</td>
				</tr>
				<tr>
					<td>Armure</td>
					<td>___</td>
				</tr>
				<tr>
					<td>Modificateur Dégâts</td>
					<td>___________</td>
				</tr>
				<tr>
					<td>PV</td>
					<td>___</td>
				</tr>
				<tr>
					<td>Compétences</td>
					<td>___________</td>
				</tr>
			</table>

		</div>

	</div>

	<div class="sheet-slide-section bevel">

		<div class="sheet-slide-section-bloc background-3-item1">

			<div class="sheet-slide-section-bloc-name">
				<h2>Grimoire, Notes</h2>
			</div>

			<div class="bloc-grid three">

				<ul class="bloc-content">
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
				</ul>

				<ul class="bloc-content">

					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
				</ul>

				<ul class="bloc-content">
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
				</ul>

			</div>

		</div>

	</div>

</div>
