<p>
	Ini adalah tarikh yang anda pilih dalam hati, Putera! kita mesti mengakhirinya, - Malam ini
								sejuk, ayuh, bangun! Menggoda penjahat dalam bayang-bayang, The Liberty mastiff memarahi
								dan menunjukkan taringnya. Walaupun dirantai oleh Carlier, dia menyalak. Jangan tunggu
								Lebih lama! Inilah masanya untuk mangsa. Lihat, Disember semakin kabur
								lebih hitam. Seperti baron pencuri yang keluar dari rumahnya, Kejutan, penyerang secara tiba-tiba, musuh yang anda lalui. Berdiri ! rejimen ada di barak,
								Beg galas, minuman keras anggur dan amarah, Menunggu penyamun untuk membuat maharaja. Letakkan tangan anda di lampu anda dan datang dengan langkah miring, Ambil pisau anda,
								Momennya baik: Republik, Yakin, dan tanpa melihat mata gelap anda bersinar,
								Tidurlah, dengan sumpah, pangeran, untuk bantal.
								Cavaliers, infanteri, keluar! keluar gerombolan! Tunggu wakil! tentera,
								ikat dengan tali Jeneral anda dilemparkan ke bilik bawah tanah banduan! Tolak, pantat
								buah pinggang, Majlis di Mazas! Memburu mahkamah tinggi dengan pukulan pedang! Ubah, gagah Perancis, menjadi bangsawan Calabria! Anda, borjuasi, lihat, kawanan keji, lendir keji, Seperti pedang kemerahan yang diserang oleh setan hitam, The coup d'etat
								keluar secara terang-terangan dari tempa! Perjuangan untuk pertarungan yang betul; bahawa kita memotong kerongkong mereka.
								Pemandu lori, kondottieri, dijual, pelacur, Mogok! bunuh Baudin! bunuh Dussoubs!
								bunuh! Apa yang dilakukan oleh orang-orang ini di luar kediaman mereka? Biarlah dia pergi. Askar, senapang mesin saya
								semua bajingan itu! Api! api! Maka anda akan memilih, wahai raja! Potong undang-undang,
								menghancurkan kehormatan, menghancurkan undang-undang! Semoga darah mengalir di sungai di jalan raya!
								Kaleng berisi wain! orang mati penuh dengan usungan! Siapa yang mahukan brendi?
								Dalam cuaca hujan ini anda mesti minum. Askar, tembak saya orang tua ini. Bunuh saya ini
								anak. Apa wanita ini? Adakah itu ibu? bunuh. Biarkan semua orang terkenal ini Bergetar, dan biarkan batu-batu karang memerah tumitnya! Paris yang menjijikkan ini bergerak dan
								menentang. Mari pergi ! Biarkan dia merasakan penghinaan, gelap dan penuh dendam, Bahawa kita, yang
								kekuatan, kita mempunyai kepintaran untuknya! Orang asing menghormati Paris: mari kita baru!
</p>
