<div class="sheet-slide sheet-slide-grid-wrapper">

	<div class="sheet-slide-title">
		<h1>compagnons</h1>
	</div>

	<div id="companions-1" class="sheet-slide-section bevel">

		<div class="sheet-slide-section-bloc">

			<div class="sheet-slide-section-bloc-name">
				<h2>Démon ou Élémentaire Lié</h2>
			</div>

			<div class="bloc-grid">

				<table class="bloc-content">
					<tr>
						<td>Nom</td>
						<td>____________________</td>
					</tr>
					<tr>
						<td>Espèce / Type</td>
						<td>____________________</td>
					</tr>
					<tr>
						<td>Modificateur aux Dégâts</td>
						<td>____________________</td>
					</tr>
					<tr>
						<td>Idée</td>
						<td>_______ %</td>
					</tr>
					<tr>
						<td>Chance</td>
						<td>_______ %</td>
					</tr>
					<tr>
						<td>Dextérité</td>
						<td>_______ %</td>
					</tr>
					<tr>
						<td>Armure</td>
						<td>_________</td>
					</tr>
				</table>

				<ul class="bloc-content">
					<table>
						<tr>
							<td>FOR</td>
							<td>_______</td>
							<td></td>
						</tr>
						<tr>
							<td>CON</td>
							<td>_______</td>
							<td></td>
						</tr>
						<tr>
							<td>TAI</td>
							<td>_______</td>
							<td></td>
						</tr>
						<tr>
							<td>INT</td>
							<td>_______</td>
							<td>x 5 = _____</td>
						</tr>
						<tr>
							<td>POU</td>
							<td>_______</td>
							<td>x 5 = _____</td>
						</tr>
						<tr>
							<td>DEX</td>
							<td>_______</td>
							<td>x 5 = _____</td>
						</tr>
						<tr>
							<td>DEP</td>
							<td>_______</td>
							<td></td>
						</tr>
					</table>
				</ul>

				<table class="bloc-content">
					<tr>
						<td>Besoin &nbsp; &nbsp; &nbsp; ___________________</td>
						<td>_______________________</td>
					</tr>
					<tr>
						<td>Facultés &nbsp; ____________________</td>
						<td>_______________________</td>
					</tr>
					<tr>
						<td>______________________________</td>
						<td>_______________________</td>
					</tr>
					<tr>
						<td>Armes &nbsp; ______________________</td>
						<td>_______________________</td>
					</tr>
					<tr>
						<td>Compétences &nbsp; ______________</td>
						<td>_______________________</td>
					</tr>
					<tr>
						<td>______________________________</td>
						<td>_______________________</td>
					</tr>
					<tr>
						<td>Pts de Magie Nécessaires à la Convocation</td>
						<td>_______________________</td>
					</tr>
				</table>

			</div>

		</div>

	</div>

	<div id="companions-2" class="sheet-slide-section bevel">

		<div class="sheet-slide-section-bloc">

			<div class="sheet-slide-section-bloc-name">
				<h2>Démon ou Élémentaire Lié</h2>
			</div>

			<div class="bloc-grid">

				<table class="bloc-content">
					<tr>
						<td>Nom</td>
						<td>____________________</td>
					</tr>
					<tr>
						<td>Espèce / Type</td>
						<td>____________________</td>
					</tr>
					<tr>
						<td>Modificateur aux Dégâts</td>
						<td>____________________</td>
					</tr>
					<tr>
						<td>Idée</td>
						<td>_______ %</td>
					</tr>
					<tr>
						<td>Chance</td>
						<td>_______ %</td>
					</tr>
					<tr>
						<td>Dextérité</td>
						<td>_______ %</td>
					</tr>
					<tr>
						<td>Armure</td>
						<td>_________</td>
					</tr>
				</table>

				<ul class="bloc-content">
					<table>
						<tr>
							<td>FOR</td>
							<td>_______</td>
							<td></td>
						</tr>
						<tr>
							<td>CON</td>
							<td>_______</td>
							<td></td>
						</tr>
						<tr>
							<td>TAI</td>
							<td>_______</td>
							<td></td>
						</tr>
						<tr>
							<td>INT</td>
							<td>_______</td>
							<td>x 5 = _____</td>
						</tr>
						<tr>
							<td>POU</td>
							<td>_______</td>
							<td>x 5 = _____</td>
						</tr>
						<tr>
							<td>DEX</td>
							<td>_______</td>
							<td>x 5 = _____</td>
						</tr>
						<tr>
							<td>DEP</td>
							<td>_______</td>
							<td></td>
						</tr>
					</table>
				</ul>

				<table class="bloc-content">
					<tr>
						<td>Besoin &nbsp; &nbsp; &nbsp; ___________________</td>
						<td>_______________________</td>
					</tr>
					<tr>
						<td>Facultés &nbsp; ____________________</td>
						<td>_______________________</td>
					</tr>
					<tr>
						<td>______________________________</td>
						<td>_______________________</td>
					</tr>
					<tr>
						<td>Armes &nbsp; ______________________</td>
						<td>_______________________</td>
					</tr>
					<tr>
						<td>Compétences &nbsp; ______________</td>
						<td>_______________________</td>
					</tr>
					<tr>
						<td>______________________________</td>
						<td>_______________________</td>
					</tr>
					<tr>
						<td>Pts de Magie Nécessaires à la Convocation</td>
						<td>_______________________</td>
					</tr>
				</table>

			</div>

		</div>

	</div>

	<div id="companions-3" class="sheet-slide-section bevel">

		<div class="sheet-slide-section-bloc">

			<div class="sheet-slide-section-bloc-name">
				<h2>Démon ou Élémentaire Lié</h2>
			</div>

			<div class="bloc-grid">

				<table class="bloc-content">
					<tr>
						<td>Nom</td>
						<td>____________________</td>
					</tr>
					<tr>
						<td>Espèce / Type</td>
						<td>____________________</td>
					</tr>
					<tr>
						<td>Modificateur aux Dégâts</td>
						<td>____________________</td>
					</tr>
					<tr>
						<td>Idée</td>
						<td>_______ %</td>
					</tr>
					<tr>
						<td>Chance</td>
						<td>_______ %</td>
					</tr>
					<tr>
						<td>Dextérité</td>
						<td>_______ %</td>
					</tr>
					<tr>
						<td>Armure</td>
						<td>_________</td>
					</tr>
				</table>

				<ul class="bloc-content">
					<table>
						<tr>
							<td>FOR</td>
							<td>_______</td>
							<td></td>
						</tr>
						<tr>
							<td>CON</td>
							<td>_______</td>
							<td></td>
						</tr>
						<tr>
							<td>TAI</td>
							<td>_______</td>
							<td></td>
						</tr>
						<tr>
							<td>INT</td>
							<td>_______</td>
							<td>x 5 = _____</td>
						</tr>
						<tr>
							<td>POU</td>
							<td>_______</td>
							<td>x 5 = _____</td>
						</tr>
						<tr>
							<td>DEX</td>
							<td>_______</td>
							<td>x 5 = _____</td>
						</tr>
						<tr>
							<td>DEP</td>
							<td>_______</td>
							<td></td>
						</tr>
					</table>
				</ul>

				<table class="bloc-content">
					<tr>
						<td>Besoin &nbsp; &nbsp; &nbsp; ___________________</td>
						<td>_______________________</td>
					</tr>
					<tr>
						<td>Facultés &nbsp; ____________________</td>
						<td>_______________________</td>
					</tr>
					<tr>
						<td>______________________________</td>
						<td>_______________________</td>
					</tr>
					<tr>
						<td>Armes &nbsp; ______________________</td>
						<td>_______________________</td>
					</tr>
					<tr>
						<td>Compétences &nbsp; ______________</td>
						<td>_______________________</td>
					</tr>
					<tr>
						<td>______________________________</td>
						<td>_______________________</td>
					</tr>
					<tr>
						<td>Pts de Magie Nécessaires à la Convocation</td>
						<td>_______________________</td>
					</tr>
				</table>

			</div>

		</div>

	</div>

</div>
