<div class="sheet-slide sheet-slide-grid-wrapper">

	<div class="sheet-slide-title">
		<h1>Magie</h1>
	</div>

	<div class="sheet-slide-section bevel">

		<div class="sheet-slide-section-bloc">

			<div class="sheet-slide-section-bloc-name">
				<h2>Magie Mémorisée</h2>
			</div>

			<div class="bloc-grid three">

				<ul class="bloc-content">
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
				</ul>

				<ul class="bloc-content">

					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
				</ul>

				<ul class="bloc-content">
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
					<li>
						____________________
					</li>
				</ul>

			</div>

		</div>

	</div>

	<div class="sheet-slide-section sheet-section-grid-magic bevel">

		<div class="sheet-slide-section-bloc">

			<div class="sheet-slide-section-bloc-name">
				<h2>Points de Magie</h2>
			</div>

			<div id="magic-magicpoints" class="bloc-content">
				<p>Inconscient 0 1 2 3 4</p>
				<p>5 6 7 8 9 10 11 12 13</p>
				<p>14 15 16 17 18 19 20 21 22</p>
				<p>23 24 25 26 27 28 29 30 31</p>
				<p>32 33 34 35 36 37 38 39 40</p>
				<p>41 42 43 44 45 46 47 48 49</p>
				<p>50 51 52 53 54 55 56 57 58</p>
				<p>59 60 61 62 63 64 65 66 67</p>
				<p>68 69 70 71 72 73 74 75 76</p>
				<p>77 78 79 80 81 82 83 84 85</p>
			</div>

		</div>

	</div>

</div>
