<div class="sheet-slide">
	<div class="sheet-slide-title">
		<h1>profil</h1>
	</div>
	<div class="sheet-slide-section sheet-section-grid-profil bevel">
		<div class="sheet-slide-section-name .profil-1-item1">
			<h2>Caractéristiques</h2>
		</div>
		<div class="sheet-slide-section-name .profil-1-item2">
			<h2>Identité</h2>
		</div>		
        <div class="sheet-slide-section-bloc .profil-1-item3">
			<ul class="bloc-content">
				<li>
					FOR ________
				</li>
				<li>
					CON ________
				</li>
				<li>
					TAI ________
				</li>
				<li>
					INT ________
				</li>
				<li>
					POU ________
				</li>
				<li>
					DEX ________
				</li>
				<li>
					APP ________
				</li>
				<li>
					Modif. aux Dégâts ________
				</li>
				<li>
					Idée ________ %
				</li>
				<li>
					Chance ________ %
				</li>
				<li>
					Dextérité ________ %
				</li>
				<li>
					Charisme ________ %
				</li>
			</ul>
		</div>
		<div class="sheet-slide-section-bloc .profil-1-item4">
			<ul class="bloc-content">
				<li>
					Nom ________
				</li>
				<li>
					Lieu de naissance ________
				</li>
				<li>
					Sexe ________
				</li>
				<li>
					Âge ________
				</li>
				<li>
					Allure, Attitude __________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
				</li>
			</ul>
		</div>
	</div>
	<div class="sheet-slide-section sheet-section-grid-profil bevel">
		<div class="sheet-slide-section-name profil-2-item1">
			<h2>Emblême / Portrait</h2>
		</div>
	    	<div class="sheet-slide-section-bloc profil-2-item2">
                <div class="sheet-avatar">
                    <img src="{{ asset('assets/images/character/avatar.png') }}" alt="avatar personnage"/>
                </div>
	    	</div>
        </div>
</div>
