<div class="sheet-slide sheet-slide-grid-wrapper">
	
    <div class="sheet-slide-title">
		<h1>profil</h1>
	</div>
	
    <div id="profil-infos" class="sheet-slide-section sheet-section-grid-profil bevel">

		<div class="sheet-slide-section-bloc profil-1-item1">

			<div class="sheet-slide-section-bloc-name">
				<h2>Caractéristiques</h2>
			</div>

			<div class="bloc-grid">
				<table class="bloc-content">
					<tr><td>
						FOR </td><td>________
					</td></tr>
					<tr><td>
						CON </td><td>________
					</td></tr>
					<tr><td>
						TAI </td><td>________
					</td></tr>
					<tr><td>
						INT </td><td>________
					</td></tr>
					<tr><td>
						POU </td><td>________
					</td></tr>
					<tr><td>
						DEX </td><td>________
					</td></tr>
					<tr><td>
						APP </td><td>________
					</td></tr>
				</table>
				<table class="bloc-content">
					<tr><td>
						Modif. aux Dégâts </td><td>________
					</td></tr>
					<tr><td>
						Idée </td><td>________ %
					</td></tr>
					<tr><td>
						Chance </td><td>________ %
					</td></tr>
					<tr><td>
						Dextérité </td><td>________ %
					</td></tr>
					<tr><td>
						Charisme </td><td>________ %
					</td></tr>
				</table>
			</div>

		</div>

	</div>

	<div id="profil-pic" class="sheet-slide-section sheet-section-grid-profil bevel">

		<div class="sheet-slide-section-bloc profil-2-item1">

			<div class="sheet-slide-section-bloc-name">
				<h2>Emblême / Portrait</h2>
			</div>

			<div class="sheet-avatar"></div>

		</div>

		<div class="sheet-slide-section-bloc profil-2-item2">

			<div class="sheet-slide-section-bloc-name">
				<h2>Identité</h2>
			</div>

			<ul class="bloc-content">
				<li>
					Nom ________
				</li>
				<li>
					Lieu de naissance ________
				</li>
				<li>
					Sexe ________
				</li>
				<li>
					Âge ________
				</li>
				<li>
					Allure, Attitude __________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
				</li>
			</ul>

		</div>

	</div>
    
</div>
