<div class="sheet-slide sheet-slide-grid-wrapper">

	<div class="sheet-slide-title">
		<h1>skills</h1>
	</div>

	<div class="sheet-slide-section bevel">

		<div class="sheet-slide-section-bloc">

			<div class="sheet-slide-section-bloc-name">
				<h2>Compétences</h2>
			</div>

			<div class="bloc-grid three">
				<ul class="bloc-content">
					<li>
						Amorcer piège (05%) ___
					</li>
					<li>
						Art (05%)
					</li>
					<li>
						___________  ___
					</li>
					<li>
						___________  ___
					</li>
					<li>
						Artisanat (25%)
					</li>
					<li>
						___________  ___
					</li>
					<li>
						___________  ___
					</li>
					<li>
						___________  ___
					</li>
					<li>
						Baratin (15%)  ___
					</li>
					<li>
						Chercher (20%)  ___
					</li>
					<li>
						Crocheter (05%)  ___
					</li>
					<li>
						Déguisement (15%)  ___
					</li>
					<li>
						Déplt. silencieux (20%)  ___
					</li>
					<li>
						Dissimuler objet (25%)  ___
					</li>
					<li>
						Écouter (25%)  ___
					</li>
					<li>
						Éloquence (25%)  ___
					</li>
				</ul>
				<ul class="bloc-content">
					<li>
						Équitation (35%)  ___
					</li>
					<li>
						___________  ___
					</li>
					<li>
						___________  ___
					</li>
					<li>
						Esquive (DEX x 2%)  ___
					</li>
					<li>
						Évaluer (15%)  ___
					</li>
					<li>
						Grimper (40%)  ___
					</li>
					<li>
						Jeunes Royaumes (15%)  ___
					</li>
					<li>
						Lancer (25%)  ___
					</li>
					<li>
						Langue Étrangère (0%)  ___
					</li>
					<li>
						___________  ___
					</li>
					<li>
						___________  ___
					</li>
					<li>
						___________  ___
					</li>
					<li>
						Langue Mater. (INT x 5%)  ___
					</li>
					<li>
						Marchander (15%)  ___
					</li>
					<li>
						Médecine (30%)  ___
					</li>
					<li>
						Million de sphères (0%)  ___
					</li>
				</ul>
				<ul class="bloc-content">
					<li>
						Monde Naturel (25%)  ___
					</li>
					<li>
						Natation (25%)  ___
					</li>
					<li>
						Navigation (15%)  ___
					</li>
					<li>
						Orientation (10%)  ___
					</li>
					<li>
						Pister (10%)  ___
					</li>
					<li>
						Potions (00)  ___
					</li>
					<li>
						Répar. / Concevoir (DEX x 4%)  ___
					</li>
					<li>
						Royaumes Inconnus (0%)  ___
					</li>
					<li>
						Sagacité (15%)  ___
					</li>
					<li>
						Sauter (25%)  ___
					</li>
					<li>
						Scribe (0%)  ___
					</li>
					<li>
						Se Cacher (20%)  ___
					</li>
					<li>
						Sentir / Goûter (15%)  ___
					</li>
					<li>
						___________  ___
					</li>
					<li>
						___________  ___
					</li>
					<li>
						___________  ___
					</li>
				</ul>
			</div>

		</div>

	</div>

	<div class="sheet-slide-section sheet-section-grid-skills bevel">

		<div class="sheet-slide-section-bloc skills-2-item1">

			<div class="sheet-slide-section-bloc-name">
				<h2>Points de Vie</h2>
			</div>

			<div class="bloc-content">
				<p>Inconscience</p>
				<p>Mort -2 -1 0 +1 +2 3 4</p>
				<p>5 6 7 8 9 10 11 12 13</p>
				<p>14 15 16 17 18 19 20 21 22</p>
				<p>23 24 25 26 27 28 29 30 31</p>
				<p>32 33 34 35 36 37 38 39 40</p>
				<p>41 42 43 44 45 46 47 48 49</p>
			</div>

		</div>

		<div class="sheet-slide-section-bloc skills-2-item2">

			<div class="sheet-slide-section-bloc-name">
				<h2>Allégeance</h2>
			</div>

			<div class="bloc-grid three">

				<div class="bloc-content">
					<p>Chaos</p>
				</div>

				<div class="bloc-content">
					<p>Balance</p>
				</div>

				<div class="bloc-content">
					<p>Loi</p>
				</div>

			</div>

		</div>

	</div>

</div>
