<div class="sheet-slide sheet-slide-grid-wrapper">

	<div class="sheet-slide-title">
		<h1>biens</h1>
	</div>

	<div class="sheet-slide-section bevel">

		<div class="sheet-slide-section-bloc">

			<div class="sheet-slide-section-bloc-name">
				<h2>Richesses</h2>
			</div>

			<div class="bloc-grid">

				<ul class="bloc-content">
					<li>
						Bronzes Transportées ____________________
					</li>
					<li>
						_________________________________________
					</li>
					<li>
						Revenus _________________________________
					</li>
					<li>
						_________________________________________
					</li>
					<li>
						Propriétés ______________________________
					</li>
					<li>
						_________________________________________
					</li>
					<li>
						_________________________________________
					</li>
				</ul>

				<ul class="bloc-content">

					<li>
						Terres __________________________________
					</li>
					<li>
						_________________________________________
					</li>
					<li>
						_________________________________________
					</li>

					<li>
						Trésor __________________________________
					</li>
					<li>
						_________________________________________
					</li>

					<li>
						_________________________________________
					</li>

					<li>
						_________________________________________
					</li>

				</ul>

			</div>

		</div>

	</div>

</div>
