{% extends 'base.html.twig' %}

{% block title %}Ah! D & Dédé
{% endblock %}

{% block edit %}{% endblock %}

{% block body %}

    <h2>Ajouter un sortilège de personnage</h2>

    {{ form(formSpell) }}


{% endblock %}