<div class="sheet-slide">
	<div class="sheet-slide-title">
		<h1>Armes</h1>
	</div>
	<div class="sheet-slide-section">
		<div class="sheet-slide-section-name">
			<h2>Armes de Contact</h2>
		</div>
		<div class="sheet-slide-section-bloc">
			<ul class="bloc-content">
				<li>
					Arme				Pourcentage		Dégâts	Pts Structure	Long.	Main
				</li>
				<li>
					Bagarre (50%)  ______ ___________  _______ _______ _______
				</li>
				<li>
					Lutte (25%)  ______ ___________  _______ _______ _______
				</li>
				<li>
					___________  ______ ___________  _______ _______ _______
				</li>
				<li>
					___________  ______ ___________  _______ _______ _______
				</li>
				<li>
					___________  ______ ___________  _______ _______ _______
				</li>
				<li>
					___________  ______ ___________  _______ _______ _______
				</li>
				<li>
					___________  ______ ___________  _______ _______ _______
				</li>
				<li>
					___________  ______ ___________  _______ _______ _______
				</li>
				<li>
					___________  ______ ___________  _______ _______ _______
				</li>	
			</ul>
		</div>
	</div>
	<div class="sheet-slide-section">
		<div class="sheet-slide-section-name">
			<h2>Armes de Jet</h2>
		</div>
		<div class="sheet-slide-section-bloc">
			<div class="bloc-content">
			<ul class="bloc-content">
				<li>
					Arme			%	Dégâts  Portée	Att./Round	Pts Structure
				</li>
				<li>
					___________  ______ ___________  _______ _______ _______
				</li>
				<li>
					___________  ______ ___________  _______ _______ _______
				</li>
			</ul>
			</div>
		</div>
	</div>
</div>
