<div class="sheet-slide sheet-slide-grid-wrapper">

	<div class="sheet-slide-title">
		<h1>Armes</h1>
	</div>

	<div class="sheet-slide-section bevel">

		<div class="sheet-slide-section-bloc">

			<div class="sheet-slide-section-bloc-name">
				<h2>Armes de Contact</h2>
			</div>

			<ul id="weapons-contact" class="bloc-content">
				<li>
					Arme				Pourcentage		Dégâts	Pts Structure	Long.	Main
				</li>
				<li>
					Bagarre (50%)  ______ ___________  _______ _______ _______
				</li>
				<li>
					Lutte (25%)  ______ ___________  _______ _______ _______
				</li>
				<li>
					___________  ______ ___________  _______ _______ _______
				</li>
				<li>
					___________  ______ ___________  _______ _______ _______
				</li>
				<li>
					___________  ______ ___________  _______ _______ _______
				</li>
				<li>
					___________  ______ ___________  _______ _______ _______
				</li>
				<li>
					___________  ______ ___________  _______ _______ _______
				</li>
				<li>
					___________  ______ ___________  _______ _______ _______
				</li>
				<li>
					___________  ______ ___________  _______ _______ _______
				</li>
			</ul>

		</div>

	</div>

	<div class="sheet-slide-section bevel">

		<div class="sheet-slide-section-bloc">

			<div class="sheet-slide-section-bloc-name">
				<h2>Armes de Jet</h2>
			</div>

			<ul id="weapons-throw" class="bloc-content">
				<li>
					Arme			%	Dégâts  Portée	Att./Round	Pts Structure
				</li>
				<li>
					___________  ______ ___________  _______ _______ _______
				</li>
				<li>
					___________  ______ ___________  _______ _______ _______
				</li>
			</ul>

		</div>

	</div>
	
</div>
