{% extends 'base.html.twig' %}

{% block title %}Reset mot de passe
{% endblock %}

{% block edit %}{% endblock %}

{% block mainshadow %}noshadow
{% endblock %}

{% block body %}
	<div class="overlay"></div>
	<div class="myform-container">

		<section class="reset-password">
			<div class="flextitle">
				<h1>Mot de passe perdu</h1>
			</div>
			{{ form_start(resetForm) }}
			{{ form_row(resetForm.plainPassword) }}
			<button class="btn btn-primary">Modifiez votre mot de passe</button>
			{{ form_end(resetForm) }}
		</section>
	</div>
{% endblock %}
