<footer class="app-footer">
	<div class="footerlinks">
		<div class="sitemap">
			<div class="links-group">
				Aide
				<ul>
					<li>
						Qui sommes-nous?
					</li>
					<li>
						F.A.Q.
					</li>
					<li>
						Nous contacter
					</li>
				</ul>
			</div>
			<div class="links-group">
				Jeux de Rôle
				<ul>
					<li>
						Jouer en ligne
					</li>
					<li>
						Nos jeux
					</li>
				</ul>
			</div>

			<div class="links-group">
				Nous suivre
				<ul>
					<li>ah-d-and-dede@facebook.com</li>
					<li>ah-d-and-dede23000</li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="links-legal">
			<p>Mentions légales - Modalités de service</p>
			<p>Confidentialité et Cookies</p>
			<br/>
			<p>Avril 2021 © Tous droits réservés</p>
		</div>
	</div>
</footer>
