<footer class="app-footer">
	<div class="footerlinks">
		<div class="sitemap">
			<div class="links-group">
				Aide
				<ul>
					<li><a href="#">Qui sommes-nous?</a></li>
					<li><a href="/faq">F.A.Q.</a></li>
					<li><a href="#">Nous contacter</a></li>
				</ul>
			</div>
			<div class="links-group">
				Jeux de Rôle
				<ul>
					<li><a href="#">Jouer en ligne</a></li>
					<li><a href="#">Nos jeux</a></li>
				</ul>
			</div>

			<div class="links-group">
				Nous suivre
				<ul>
					<li><a href="#">ah-d-and-dede@facebook.com</a></li>
					<li><a href="#">ah-d-and-dede23000</a></li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="links-legal">
			<p>
				<a href="#">Mentions légales</a>
				-
				<a href="#">Modalités de service</a>
			</p>
			<p>
				<a href="#">Confidentialité et Cookies</a>
			</p>
			<br/>
			<p>Avril 2021 © Tous droits réservés</p>
		</div>
	</div>
</footer>
