<header class="app-header {% if edit is empty %}{% else %}{{ edit }}{% endif %}">
	<nav class="app-navigation">
		<a href="{{ path('homepage') }}" class="nav-logo"><img src="{{ asset('assets/images/logo.png') }}" alt="Ah! D & Dédé"/></a>
		<ul class="nav-menu">
			<li class="nav-item">
				<a href="#" class="nav-link">Mes Personnages</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link">Mes Parties</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link">Mes Tables</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link">Éditer Accueil</a>
			</li>
		</ul>
		<div class="hamburger">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</nav>
</header>
