{% extends 'base.html.twig' %}

{% block title %}Foire aux questions
{% endblock %}

{% block body %}
	<div class="overlay"></div>
	<div class="faq myform-container">
		<div class="flextitle">
			<h1>Foire aux questions</h1>
		</div>
		{% for faq in arFaq %}
			<div class="qr">
				<h2>{{ faq.question }}</h2>
				<p>{{ faq.answer }}</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}
