{% extends 'base.html.twig' %}

{% block title %}F.A.Q.
{% endblock %}

{% block body %}
	<div class="faq">
		<h1>FOIRE AUX QUESTIONS</h1>
		{% for faq in arFaq %}
			<div class="qr">
			<h2>{{faq.question}}</h2>
			<p>{{ faq.answer }}</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}
