.association {
    text-align: center;
    color: #873608;
    padding: 4vw 0;

    img {
        padding: 10px 0;
        @include respond(tablet) {
            text-align: center;
            padding: 30px 0;
        }
    }

    p {
        padding: 0 2vw;
        line-height: 1.4;
    }
}
