.legal_mentions {
    background-color: #ffeaae;
    color: #873608;
    text-align: left;
    width: 100vw;

    h1 {
        text-align: center;
    }
    h2 {
        font-weight: 600;
        font-size: 25px;
        padding: 10px 4vw;
    }
    h3 {
        padding: 10px 4vw;
        font-weight: 550;
        font-size: 23px;
    }
    p {
        padding: 10px 4vw;
        font-size: 21px;
    }
}
