<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Bienvenue{% endblock %} - Mon Site à moi</title>
        
        <link rel="stylesheet" href="{{ asset('assets/css/styles.min.css') }}" />
        {% block stylesheets %}{% endblock %}
        
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% include('layouts/_header.html.twig') %}

        <main class="app-main">
            {% block body %}{% endblock %}
        </main>

        {% include('layouts/_footer.html.twig') %}
    </body>
</html>
