{% extends 'base.html.twig' %}

{% block title %}Ah! D & Dédé
{% endblock %}

{% block edit %}
{% endblock %}

{% block body %}
    <div id="map"></div>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
   <script type="text/javascript" src="app.js"></script>
<footer class="app-footer">
	<div class="footerlinks">
		<div class="sitemap">
			<div class="links-group">
				Venez nous rendre visite
				<ul>
					<li>22 rue de la Sénatorerie</li>
					<li>23000 Guéret, FRANCE</li>
				</ul>
			</div>

			<div class="links-group">
				Contactez-nous
				<ul>
					<li>ah-d-and-dede@facebook.com</li>
					<li>ah-d-and-dede23000</li>
				</ul>
			</div>
		</div>
		<hr>
	</div>
</footer>


{% endblock %}
