.app-footer {
    display: flex;
    justify-content: center;
    padding: 40px 60px;
    background-color: #271002;
    color: #fffaeb;

    .footerlinks {
        display: block;
        align-items: center;
        justify-content: center;

        .links-group {
            font-weight: 700;
            padding: 8px 20px;
            width: 300px;

            ul {
                display: inherit;
                align-items: center;
                justify-content: center;
                list-style: none;
                padding: 8px 20px;

                li {
                    padding-bottom: 10px;
                    font-weight: 400;
                    font-size: 14px;
                }
            }
        }

        .links-legal {
            text-align: center;
            p {
                padding: -20px;
                margin: 20px 0px;
            }
        }

        @include respond(medium) {
            display: flex;
        }

        @include respond(small) {
            display: block;
        }
    }
}
