.app-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;

    .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            min-width: 100px;
            filter: drop-shadow(2px 2px 2px $colorultradark);
        }
    }

    &.two {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "leftbox rightbox";
        column-gap: 0;

        .grid-itemLeft {
            grid-area: leftbox;
            align-self: start;
            margin-right: auto;
            padding-left: 1rem;

            @include respond(tablet-horizontal) {
                padding-left: 3rem;
                padding-top: 1rem;
            }

            @include respond(tablet) {
                padding-left: 3rem;
                padding-top: 1rem;
            }

            @include respond(desktop) {
                padding-left: 3rem;
                padding-top: 1rem;
            }

            @include respond(desktop-wide) {
                padding-left: 4rem;
                padding-top: 1rem;
            }

            &.editAsso {
                padding-left: 0;
            }
        }

        .grid-itemRight {
            grid-area: rightbox;
            align-self: end;
            margin-left: auto;
            padding-right: 1rem;

            @include respond(tablet-horizontal) {
                padding-right: 3rem;
                padding-bottom: 1rem;
            }

            @include respond(tablet) {
                padding-right: 3rem;
                padding-bottom: 1rem;
            }

            @include respond(desktop) {
                padding-right: 3rem;
                padding-bottom: 1rem;
            }

            @include respond(desktop-wide) {
                padding-right: 4rem;
                padding-bottom: 1rem;
            }

            &.editAsso {
                padding-right: 0;
            }
        }
    }
}

// Grilles des feuilles de personnages

.sheet-section-grid-profil {
    
    @include respond(tablet) {
        display: grid;
        grid-template-columns: minmax(0, 1fr) 200px;
        grid-gap: 10px;
        grid-auto-rows: minmax(0, auto);
        grid-template-areas:
            "a b"
            "c d";
        align-items: start;
        grid-template-columns: minmax(0, 1fr) 350px;
    }

    @include respond(tablet-horizontal) {
        grid-template-columns: minmax(0, 1fr) 500px;
    }
}

.profil-1-item1 {
    grid-area: a;
}
.profil-1-item2 {
    grid-area: b;
}
.profil-1-item3 {
    grid-area: c;
}
.profil-1-item4 {
    grid-area: d;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.profil-2-item1 {
    grid-area: a / span 2;
}

.profil-2-item2 {
    grid-area: c / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 20rem;
    overflow: hidden;
}

/////////////////////////////////////////////////////
