.app-header {
    width: 100%;
    border-bottom: 1px solid #271002;
    background-color: #6b2b06;
    box-shadow: 0px 1px 10px #271002;
    position: fixed;
    z-index: 998;

    &.edit {
        background-color: black;
    }

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    @import "./navigation";
}
