.app-header {
    width: 100%;
    background-color: $colormain;
    box-shadow: 0px 1px 10px $colorultradark;
    position: fixed;
    z-index: 998;

    &.edit {
        background-color: black;
    }

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    @import "./navigation";
}
