html {
    font-size: 16px;
    scroll-behavior: smooth;

    body {
        font-family: "Open Sans", sans-serif;
        font-size: 21px;
        color: #000;
        background-color: #271002;

        @import "header";

        @import "navigation";

        @import "grids";
        
        @import "main";

        @import "footer";
    }
}
