html {
    font-size: 16px;
    line-height: 1.5;
    scroll-behavior: smooth;

    body {
        font-family: "Open Sans", sans-serif;
        font-size: 21px;
        color: #000;
        background-color: $colorultradark;

        @import "header";

        @import "navigation";

        @import "grids";
        
        @import "main";

        @import "footer";
    }
}
