.app-main {
    padding-top: 74px;

    @include respond(desktop) {
        width: 60rem;
        margin: auto;
        box-shadow: 0px 0px 20px 0px rgba(95, 12, 8, 0.7);
    }

    @include respond(desktop-wide) {
        width: 80rem;
        margin: auto;
        box-shadow: 0px 0px 20px 0px rgba(95, 12, 8, 0.7);
    }

    h1 {
        font-size: 1.7rem;
    }
    

    section {
        padding: 1rem 0;
   }

    @import "../pages/homepage";
    @import "../pages/homepageedit";
    @import "../pages/faq";
    @import "../pages/games";
    @import "../pages/addgame";
    @import "../pages/adddiceset";
    @import "../pages/legal_pages";
    @import "../pages/presentation";
    @import "../pages/organisation";
}
