{% extends 'base.html.twig' %}

{% block pagetitle %}Ouuuuups{% endblock %}

{% block body %}
    <h1>Samarchpô :(</h1>
    <p>
        <a href="{{ path('home') }}">Reviens Léon</a>
    </p>
{% endblock %}