{% extends 'base.html.twig' %}

{% block title %}Ressource non trouvée ou ailleurs.
{% endblock %}


{% block body %}
		<div class="container {% block body_class %}bodybg404{% endblock %}">
			<a class="app-button cta" href="#" role="button">Vous ne trouvez pas votre nain, retournez à l'entrée.</a>
		</div>
{% endblock %}
