{% extends 'base.html.twig' %}

{% block title %}Erreur interne{% endblock %}

{% block body_class %}bodybgerror{% endblock %}

{% block edit %}{% endblock %}

{% block body %}
    <div class="container ">
        <a class="app-button cta" href="{{ path('homepage') }}" role="button">Un squelette vous barre la route, faites demi-tour</a>
    </div>
{% endblock %}