{% extends 'base.html.twig' %}

{% block title %}Accès refusé, connexion requise{% endblock %}

{% block body_class %}bodybg403{% endblock %}

{% block edit %}{% endblock %}

{% block body %}
    <div class="container ">
        <a class="app-button cta" href="{{ path('app_login') }}" role="button">Qui êtes-vous, voyageur ?</a>
    </div>
{% endblock %}