{% extends 'base.html.twig' %}

{% block pagetitle %}Tapaldroiiiiiiii !{% endblock %}

{% block body %}
    <h1>Dégage !</h1>
    <p>
        <a href="{{ path('app_login') }}">Ou alors dis qui tu es</a>
    </p>
{% endblock %}